@charset "UTF-8";
/*utilities*/
/*bases*/
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  width: 100%;
  height: 100vh; }

.header-user {
  height: 60px;
  background-image: linear-gradient(to right, #378CE7, #5356FF, #5356FF, #378CE7);
  align-content: center; }
  .header-user div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px; }
    .header-user div img {
      width: 40px; }
    .header-user div a img {
      filter: drop-shadow(0px 0px 5px #378CE7 1, 37, 136); }
      .header-user div a img:hover {
        transform: scale(1.1); }

.header-admin {
  grid-area: header-admin;
  height: 100%;
  background-color: #3060a8;
  align-content: center; }
  .header-admin div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px; }
    .header-admin div h2 {
      color: azure; }
    .header-admin div a img {
      width: 40px;
      filter: drop-shadow(0px 0px 5px #378CE7 1, 37, 136); }
      .header-admin div a img:hover {
        transform: scale(1.1); }

.main-login {
  display: flex;
  height: 100%;
  flex-direction: row; }
  .main-login .imgLogin {
    background-image: url("../assets/fondoArqu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 50%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: "h1" "img" "p"; }
    .main-login .imgLogin h1 {
      grid-area: h1;
      height: 30%;
      display: flex;
      font-size: 4rem;
      color: beige;
      align-self: self-end;
      justify-self: center;
      align-items: center; }
      .main-login .imgLogin h1 .logo {
        height: 100%;
        padding: 0 10px; }
    .main-login .imgLogin .imgIlustracion {
      grid-area: img;
      align-self: center;
      justify-self: center;
      width: 80%;
      height: 80%;
      margin: 30px 0; }
    .main-login .imgLogin p {
      grid-area: p;
      width: 60%;
      text-align: center;
      color: beige;
      font-size: 1.6rem;
      justify-self: center;
      align-self: self-start; }
  .main-login .contenedorForm {
    background-image: url("../assets/biancaFondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: contrast(100%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-login .contenedorForm .formLogin {
      width: 420px;
      background: transparent;
      border: 2px solid #333;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 15px #333;
      color: #fff;
      border-radius: 10px;
      padding: 30px 40px; }
      .main-login .contenedorForm .formLogin form h2 {
        font-size: 2.3rem;
        text-align: center; }
      .main-login .contenedorForm .formLogin form .input-box {
        position: relative;
        width: 100%;
        height: 3.125rem;
        margin: 1.875rem 0; }
        .main-login .contenedorForm .formLogin form .input-box input {
          width: 100%;
          height: 100%;
          background: transparent;
          outline: none;
          border: 2px solid white;
          border-radius: 40px;
          font-size: 16px;
          color: #fff;
          padding: 20px 50px 20px 20px; }
          .main-login .contenedorForm .formLogin form .input-box input::placeholder {
            color: #fff; }
        .main-login .contenedorForm .formLogin form .input-box i {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.25rem; }
      .main-login .contenedorForm .formLogin form .recordar-olvido {
        font-size: .9375rem;
        margin: -15px 0 15px; }
        .main-login .contenedorForm .formLogin form .recordar-olvido label input {
          accent-color: #fff;
          margin-right: 3px; }
      .main-login .contenedorForm .formLogin form .btn {
        width: 100%;
        height: 2.8125rem;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 2.5rem;
        box-shadow: 0 0 10px #141414;
        cursor: pointer;
        font-size: 1rem;
        color: #333;
        font-weight: 600; }

.body-seleccion {
  background-image: url("../assets/fondoLogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 94% auto;
  grid-template-areas: "botones" "footer"; }
  .body-seleccion .volver-atras {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 30px; }
    .body-seleccion .volver-atras a {
      display: flex;
      color: #000000d5;
      text-decoration: none;
      height: 100%; }
      .body-seleccion .volver-atras a h4 {
        height: 100%;
        font-size: 20px;
        font-weight: 600; }
      .body-seleccion .volver-atras a img {
        height: 100%; }
      .body-seleccion .volver-atras a:hover {
        transform: scale(1.1); }
  .body-seleccion .seleccion-botones {
    grid-area: botones;
    width: 25%;
    height: 550px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 125px 10px #010102;
    color: #fff;
    border-radius: 10px;
    padding: 120px 40px; }
    .body-seleccion .seleccion-botones button {
      padding: 15px 30px;
      background: #020727d5;
      border: none;
      outline: none;
      border-radius: 2.5rem;
      box-shadow: 0 0 15px #141414;
      cursor: pointer;
      font-size: 3rem;
      color: #ffffff;
      font-weight: 600; }
      .body-seleccion .seleccion-botones button:hover {
        background: #0000009d;
        transition: 0.5s;
        font-size: 3.2rem; }

.main-usuario {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 45% auto;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "card sueldo calendario";
  column-gap: 20px;
  background-image: linear-gradient(to right, #5356FF, #378CE7, #378CE7, #5356FF);
  background-repeat: no-repeat;
  background-size: cover; }
  .main-usuario .sueldo {
    display: flex;
    flex-direction: column;
    grid-area: sueldo;
    margin: 0 10px;
    width: auto;
    align-items: center; }
    .main-usuario .sueldo h2 {
      font-size: 4.2rem;
      color: #081355;
      width: 80%;
      text-align: center;
      text-shadow: -2px 2px 10px #5d5ddf; }
    .main-usuario .sueldo .imgSueldo {
      margin: 10px 0;
      text-align: center;
      width: 100%;
      animation-name: fondoRgbSueldo;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-delay: 0s; }
      .main-usuario .sueldo .imgSueldo img {
        width: 100%;
        object-fit: cover; }

@keyframes fondoRgbSueldo {
  0% {
    filter: drop-shadow(6px -6px 12px #525252); }
  25% {
    filter: drop-shadow(6px 6px 12px #71777c); }
  50% {
    filter: drop-shadow(-6px 6px 12px #496d6d); }
  75% {
    filter: drop-shadow(-6px -6px 12px #2d4853); }
  100% {
    filter: drop-shadow(6px -6px 12px #525252); } }
  .main-usuario .calendario {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 30px; }
    .main-usuario .calendario div {
      justify-self: center;
      grid-area: calendario;
      text-align: center;
      width: 80%;
      height: 18%;
      box-shadow: 0px 0px 10px #333; }
      .main-usuario .calendario div ol {
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        padding: 0 5px; }
        .main-usuario .calendario div ol li {
          text-align: center; }
        .main-usuario .calendario div ol .nombre-dia {
          background-color: #eee;
          font-weight: bold;
          text-align: center;
          width: 100%; }
        .main-usuario .calendario div ol .first-day {
          grid-column-start: 3; }
        .main-usuario .calendario div ol .feriado-dia {
          border-radius: 100px;
          background-color: #3737ad;
          color: white;
          cursor: pointer; }

.body-admin {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 6%;
  grid-template-areas: "header-admin" "main-admin" "footer-admin"; }

.main-admin {
  grid-area: main-admin;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: start;
  padding: 30px 0;
  background-image: radial-gradient(circle, #2A6AB2, #4B63F8, #273c92, #3C81EB); }
  .main-admin .empleados {
    width: 70%;
    height: 700px; }
    .main-admin .empleados input {
      width: 25%;
      height: 45px;
      margin-bottom: 10px;
      font-size: 1rem;
      padding-left: 8px;
      background-color: #194fa0b2;
      border: 2px solid rgba(31, 31, 170, 0.308);
      outline: none;
      border-radius: 5px;
      color: white;
      letter-spacing: 2px; }
      .main-admin .empleados input::placeholder {
        color: white;
        letter-spacing: 0px; }
    .main-admin .empleados .lista-empleados {
      background-color: rgba(53, 110, 156, 0.432);
      width: 100%;
      height: 100%;
      border: 2px solid black;
      border: 1px solid #ccc;
      overflow-y: scroll; }
      .main-admin .empleados .lista-empleados ol {
        text-align: center;
        list-style-type: none;
        padding: 0; }
        .main-admin .empleados .lista-empleados ol li {
          display: grid;
          grid-template-columns: repeat(6, 17%);
          justify-items: start;
          padding: 10px;
          border-bottom: 1px solid #ddd; }
          .main-admin .empleados .lista-empleados ol li:last-child {
            border-bottom: none; }
          .main-admin .empleados .lista-empleados ol li span {
            color: white;
            margin-right: 35px; }
          .main-admin .empleados .lista-empleados ol li .aprobados::before {
            font-weight: bold;
            content: "✔ ";
            color: green; }
          .main-admin .empleados .lista-empleados ol li .no-aprobados::before {
            font-weight: bold;
            content: "x ";
            color: red; }
          .main-admin .empleados .lista-empleados ol li .sueldo {
            width: 100%;
            text-align: center;
            margin-right: 0; }
        .main-admin .empleados .lista-empleados ol .titulos {
          font-weight: bold;
          text-decoration: 1px underline white; }
  .main-admin .agregar-quitar-admin {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 95%;
    justify-content: end; }
    .main-admin .agregar-quitar-admin a button {
      font-size: 1.2rem;
      width: auto;
      height: 60px;
      padding: 0 20px;
      border: 2px solid #161683;
      border-radius: 20px;
      background-color: #273c92;
      color: white;
      cursor: pointer; }
      .main-admin .agregar-quitar-admin a button:hover {
        transform: scale(1.06); }
    .main-admin .agregar-quitar-admin a .add-button::before {
      content: "+ ";
      color: green;
      font-size: 1.3rem; }
    .main-admin .agregar-quitar-admin a .remove-button::before {
      content: "- ";
      color: red;
      font-size: 1.3rem; }

.footer-admin {
  grid-area: footer-admin; }

.footer-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 500;
  padding: 5px 20px;
  height: auto;
  background-color: #5356FF; }
  .footer-usuario .contact-info {
    text-align: left; }
  .footer-usuario .social-links a {
    height: 100%;
    text-decoration: none;
    margin: 0 10px; }
    .footer-usuario .social-links a img {
      width: 30px; }
      .footer-usuario .social-links a img:hover {
        transform: scale(1.2); }

.footer-seleccion {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 500;
  padding: 5px 20px;
  height: auto;
  background-color: #0c0fa72d; }
  .footer-seleccion .contact-info {
    text-align: left; }
  .footer-seleccion .social-links a {
    height: 100%;
    text-decoration: none;
    margin: 0 10px; }
    .footer-seleccion .social-links a img {
      width: 30px; }
      .footer-seleccion .social-links a img:hover {
        transform: scale(1.2); }

.footer-admin {
  grid-area: footer-admin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: 500;
  padding: 5px 20px;
  height: auto;
  background-color: #2A6AB2; }
  .footer-admin .contact-info {
    text-align: left; }
  .footer-admin .social-links a {
    height: 100%;
    text-decoration: none;
    margin: 0 10px; }
    .footer-admin .social-links a img {
      width: 30px; }
      .footer-admin .social-links a img:hover {
        transform: scale(1.2); }

.card-user {
  grid-area: card;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px; }
  .card-user img {
    width: 400px;
    animation-name: fondoRgb;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s; }
  .card-user .info {
    text-align: center;
    width: 400px; }
    .card-user .info div {
      margin: 20px 0 0 10px;
      padding: 2px 7px;
      border-bottom: 3px solid #2b2b97;
      border-left: 3px solid #2b2b97;
      box-shadow: -3px 3px 5px 3px #282896; }
      .card-user .info div label {
        font-weight: bolder;
        font-size: 1.7rem; }
      .card-user .info div span {
        text-align: left;
        font-weight: 500; }

@keyframes fondoRgb {
  0% {
    filter: drop-shadow(6px -6px 12px #CDE8E5); }
  25% {
    filter: drop-shadow(6px 6px 12px #EEF7FF); }
  50% {
    filter: drop-shadow(-6px 6px 12px #7AB2B2); }
  75% {
    filter: drop-shadow(-6px -6px 12px #4D869C); }
  100% {
    filter: drop-shadow(6px -6px 12px #CDE8E5); } }
