footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 500;
    margin: 0 20px;
    border-top: 2px solid #5353f3;
    .contact-info{
        text-align: left;
    }
    .social-links{
        a{
            text-decoration: none;
            margin: 0 10px;
            img{
                width: 30px;
            }
        }
    }
}