
.footer-usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 500;
    padding: 5px 20px;
    height: auto;
    background-color: #5356FF;
    
    .social-links{
        a{
            height: 100%;
            text-decoration: none;
            margin: 0 10px;
            img{
                width: 30px;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.footer-seleccion{
    grid-area: footer-seleccion;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    font-weight: 500;
    padding: 5px 20px;
    height: auto;
    color: white;
    background-color: #001831;
    

    
    .social-links{
        display: flex;
        a{
            height: 100%;
            text-decoration: none;
            margin: 0 10px;
            img{
                
                width: 30px;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

.footer-admin{
    grid-area: footer-admin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 500;
    padding: 5px 20px;
    height: auto;
    background-color: #2A6AB2; 

    
    .social-links{
        a{
            height: 100%;
            text-decoration: none;
            margin: 0 10px;
            img{
                width: 30px;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}
.footer-agregar-quitar{
    @extend .footer-admin;
    grid-area: footer-agregar-quitar;
    background-color: #478bd88c;
}