.header-user{
    height: 60px;
    background-image: linear-gradient(to right, #378CE7,#5356FF ,#5356FF,#378CE7 );
    align-content: center;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 15px;
        img{
            width: 40px;
        }
        a{
            img{
                filter: drop-shadow(0px 0px 5px #378CE7(1, 37, 136));
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.header-admin{
    grid-area: header-admin;
    height: 100%;
    background-color: #3060a8 ;
    align-content: center;
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
        h2{
            color: azure;
        }
        a{
            img{
                width: 40px;
                filter: drop-shadow(0px 0px 5px #378CE7(1, 37, 136));
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.header-agregar-quitar{
    @extend .header-admin;
    grid-area: header-agregar-quitar;
    background-color: #478bd8;
}