.body-seleccion{
    background-image: url("../assets/fondoLogin.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 94% auto;
    grid-template-areas:
    "botones"
    "footer";

    .volver-atras{
        position: absolute;
        left: 15px;
        top: 15px;
        height: 30px;
        a{
            display: flex;
            color: #000000d5;
            text-decoration: none;
            height: 100%;
            h4{
                height: 100%;
                font-size: 20px;
                font-weight: 600;
            }
            img{
                height: 100%;
                
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }

    .seleccion-botones{
        grid-area: botones;
        width: 35%;
        height: 550px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 125px 10px #010102;
        color: #fff;
        border-radius: 10px;
        padding: 120px 40px;
        
        button{
            width: 100%;
            padding: 15px 30px;
            background: #020727d5;
            border: none;
            outline: none;
            border-radius: 2.5rem;
            box-shadow: 0 0 15px rgb(20, 20, 20);
            cursor: pointer;
            font-size: 3rem;
            color: #ffffff;
            font-weight: 600;
            &:hover{
                background: #0000009d;
                transition: 0.5s;
                font-size: 3.2rem;
            }
        }
    }
}