.card-user{
    grid-area: card;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    img{
        width: 60%;
        animation-name: fondoRgb;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 0s;
    }
    .info{
        text-align: center;
        width: 70%;
        div{
            margin: 20px 0 0 10px;
            padding: 2px 7px;
            border-bottom: 3px solid #2b2b97;
            border-left: 3px solid #2b2b97;
            box-shadow: -3px 3px 5px 3px #282896;
            label{
                font-weight: bolder;
                font-size: 1.7rem;
            }
            span{
                text-align: left;
                font-weight: 500;
            }
        }
        
    }
    @keyframes fondoRgb {
        0%{
            filter: drop-shadow(6px -6px 12px #CDE8E5);
        }
        25%{
            filter: drop-shadow(6px 6px 12px #EEF7FF);
        }
        50%{
            filter: drop-shadow(-6px 6px 12px #7AB2B2);
        }
        75%{
            filter: drop-shadow(-6px -6px 12px #4D869C);
        }
        100%{
            filter: drop-shadow(6px -6px 12px #CDE8E5);
        }
        
    }
}