@media(max-width:320px){
    .main-login{
        
        .contenedorForm{
            .formLogin{
                form{
                    h2{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    .body-seleccion{
        .main-seleccion{
            div{
                width: 85%;
                height: 50%;
                padding: 60px 25px;
                a{
                    button{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}