@media(max-width:425px){
    .main-login{
        .imgLogin{
            h1{
                font-size: 2.2rem;
            }
            p{
                width: 80%;
                font-size: 1.2rem;
            }
        }
        .contenedorForm{
            .formLogin{
                width: 85%;
                padding: 30px 20px;
            }
        }
    }

    .main-usuario{
        grid-template-columns: 1fr;
        grid-template-rows: 38% 42% auto;
        grid-template-areas: 
        "card"
        "sueldo"
        "calendario";
        padding-top: 20px;
        .calendario{
            div{
                width: 70%;
            }
            
        }
    }
    .footer-usuario{
        flex-direction: column;
    }

    .main-admin{
        .empleados{
            input{
                width: 45%;
                font-size: 0.9rem;
            }
            .lista-empleados{
                ol{
                    li{
                        span{
                            font-size: 0.57rem;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        .agregar-quitar-admin{
            a{
                button{
                    font-size: 0.9rem;
                }
            }
        }
    }

    .main-agregar-quitar{
        .contenedor-form-aq{
            width: 95%; 
        }
    }

    .footer-admin{
        flex-direction: column;
        height: 7.57rem;
    }

    .body-seleccion{
        .main-seleccion{
            div{
                width: 80%;
                height: 60%;
                padding: 80px 30px;
                a{
                    button{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .footer-seleccion{
        flex-direction: column;
        height: 120px;
    }
}