@media(max-width:1024px){
    .main-usuario{
        .calendario{
            height: 170px;
            div{
                width: 95%;
                ol{
                    li{
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
            
        }
    }

    .main-admin{
        flex-direction: column;
        padding-top: 20px ;
        .empleados{
            width: 95%;
            height: 800px;
            
        }
        .agregar-quitar-admin{
            flex-direction: row;
            gap: 20px;
            margin: 20px;
            height: auto;
        }
    }


    .body-seleccion{
        .main-seleccion{
            div{
                a{
                    button{
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}